@import 'client/lib/_colors.scss';
@import 'client/lib/_dimensions.scss';

.content {
  padding-top: $header-height;
  margin-bottom: 100px;
  position: relative;
  margin-right: $sidebar-width;
  top: 0;
  bottom: 0;
  right: 0;
  left: $sidebar-width;

  .tile,
  .menu {
    margin: 0 40px 0 40px;
  }

  .menu {
    height: 50px;
    line-height: 50px;
    margin-top: 15px;

    .title {
      font-weight: bold;
      float: left;
      font-size: 24px;
      margin-left: 10px;
    }

    .nav {
      display: flex;
      justify-content: flex-end;
      font-size: 18px;

      .prev,
      .next {
        height: 30px;
        line-height: 30px;
        margin: 10px 0 10px 10px;
        padding: 0 10px;
        background-color: $primary-color;
        box-shadow: 0 1px 2px $secondary-text-color;
        color: $primary-color-text;

        &:hover {
          background-color: $primary-color-dark;
        }

        &.inactive {
          background-color: $primary-color-light;

          &:hover {
            background-color: $primary-color-light;
          }
        }
      }
    }
  }

  h1 {
    padding: 20px 0 10px 10px;
    font-size: 24px;
  }

  .tile {
    height: auto;
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px solid $divider-color;

    &:hover {

      .name > .add-button {
        padding: 0 20px 0 20px;
        width: auto;
        color: $primary-color-text;
        background-color: $primary-color;

        &:active {
          background-color: $primary-color-light;
        }
      }
      .name > .test {
        color: $primary-text-color;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.selected {
      margin: 20px;
      border-bottom: none;
      border-left: 2px solid $primary-color;

      /* first-child does not work :( */
      &.first {
        margin-top: 0;
      }

      .name > .add-button {
        padding: 0 20px 0 20px;
        width: auto;
        color: $primary-color-text;
        background-color: $primary-color;
      }
    }

    .name {
      .user-name,
      .char-name,
      .add-button,
      .test {
        float: left;
      }

      .test {
        line-height: 50px;
        color: transparent;
      }
      .add-button {
        width: 0px;
        color: transparent;
        line-height: 50px;
        transition: width 0.3s, color 0.3s, padding 0.3s;
        pointer-events: auto;
      }

      .user-name {
        margin-left: 10px;
        color: $primary-text-color;
        width: 125px;
      }

      .char-name {
        color: $primary-color;
        margin-right: 20px;
      }
    }

    .data {
      display: flex;
      justify-content: flex-end;

      div {
        margin: 0 10px;

        .selected {
          color: $accent-color;
        }

        span {
          pointer-events: auto;
          color: $secondary-text-color;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    .tile-info {
      margin-top: 10px;
      border-top: 1px $divider-color solid;

      .timeline {
        padding: 10px;
        height: auto;

        path {
          stroke: $accent-color;
          stroke-width: 2;
          fill: none;
        }

        .area {
          stroke: $primary-color;
          stroke-width: 0;
        }

        .axis {
          shape-rendering: crispEdges;
        }

        .x.axis line {
          stroke: lightgrey;
        }

        .x.axis .minor {
          stroke-opacity: 0.5;
        }

        .x.axis path {
          display: none;
        }

        .y.axis line,
        .y.axis path {
          fill: none;
          stroke: #000;
          stroke-width: 1;
        }
      }
    }

    .no-interact {
      pointer-events: none;
    }
  }
}
