@import 'client/lib/_colors.scss';
@import 'client/lib/_dimensions.scss';

.content {
  padding-top: $header-height;
  margin-bottom: 100px;
  position: relative;
  margin-right: $sidebar-width;
  top: 0;
  bottom: 0;
  right: 0;
  left: $sidebar-width;

  h1,
  .tile,
  .menu {
    width: 1000px;
    margin: auto;
  }

  .menu {
    height: 50px;
    line-height: 50px;
    margin-top: 15px;

    .title {
      font-weight: bold;
      float: left;
      font-size: 24px;
      margin-left: 10px;
    }

    .nav {
      display: flex;
      justify-content: flex-end;
      font-size: 18px;

      .prev,
      .next {
        height: 30px;
        line-height: 30px;
        margin: 10px 0 10px 10px;
        padding: 0 10px;
        background-color: $primary-color;
        box-shadow: 0 1px 2px $secondary-text-color;
        color: $primary-color-text;

        &:hover {
          background-color: $primary-color-dark;
        }

        &.inactive {
          background-color: $primary-color-light;

          &:hover {
            background-color: $primary-color-light;
          }
        }
      }
    }
  }

  h1 {
    padding: 20px 0 10px 10px;
    font-size: 24px;
  }

  .tile {
    height: auto;
    line-height: 50px;
    font-size: 18px;
    background-color: $primary-color-text;
    border-bottom: 1px solid $divider-color;
    box-shadow: 0 1px 2px $secondary-text-color;
    border-left: 2px solid rgba(0,0,0,0);

    &:hover {
      border-left: 2px solid $primary-color;
    }

    &:last-child {
      border-bottom: none;
    }

    &.selected {
      width: 1050px;
      margin: 20px auto;
      border-left: 2px solid $primary-color;

      /* first-child does not work :( */
      &.first {
        margin-top: 0;
      }
    }

    .name {
      .user-name,
      .char-name,
      .favorite-button {
        float: left;

        &:first-child {
          margin-left: 10px;
        }
      }

      .favorite-button {
        margin-right: 10px;
        color: $divider-color;
        line-height: 50px;
        pointer-events: auto;

        &.selected {
          color: $accent-color;
        }
      }

      .user-name {
        color: $primary-text-color;
        width: 150px;
      }

      .char-name {
        color: $primary-color;
      }
    }

    .data {
      display: flex;
      justify-content: flex-end;

      div {
        margin: 0 10px;

        .selected {
          color: $accent-color;
        }

        span {
          pointer-events: auto;
          color: $secondary-text-color;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }

    .tile-info {
      margin: 10px;
      border-top: 1px $divider-color solid;

      .timeline {
        height: auto;

        path {
          stroke: $accent-color;
          stroke-width: 2;
          fill: none;
        }

        .area {
          stroke: $primary-color;
          stroke-width: 0;
        }

        .axis {
          shape-rendering: crispEdges;
        }

        .x.axis line {
          stroke: lightgrey;
        }

        .x.axis .minor {
          stroke-opacity: 0.5;
        }

        .x.axis path {
          display: none;
        }

        .y.axis line,
        .y.axis path {
          fill: none;
          stroke: #000;
          stroke-width: 1;
        }
      }
    }

    .no-interact {
      pointer-events: none;
    }
  }
}
