@import 'client/lib/_colors.scss';
@import 'client/lib/_dimensions.scss';

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  height: $header-height;
  line-height: $header-height;

  color: $primary-color;
  background-color: $primary-color-text;
  box-shadow: $shadow;

  font-size: 42px;
  font-weight: bold;

  .title {
    margin-left: 20px;
    float: left;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    height: $header-height;

    a {
      margin-right: 10px;
      padding: 0 10px 0 10px;
      text-decoration: none;
      color: $primary-text-color;

      &:hover {
        border-bottom: 4px solid $accent-color;
      }
    }
  }
}
